@model IEnumerable<ASP_NET_Project.Models.Lending>
@using Microsoft.AspNetCore.Identity
@using ASP_NET_Project.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{

}
else
{
    <h1> Bład autoryzacji, dostępne tylko dla zalogowanych</h1>
}

<h1>Lista wypożyczeń</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWypozyczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKoncaWynajmu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataWypozyczenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataKoncaWynajmu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-pencil"></i> Edytuj</a>
                    <form asp-action="DeletePost" asp-route-id="@item.Id" onsubmit="JqueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
