@model IEnumerable<ASP_NET_Project.Models.Car>
@using Microsoft.AspNetCore.Identity
@using ASP_NET_Project.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NrRejestracji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokProdukcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StanGotowosci)
            </th>
            <th>
                <a onclick="showInPopupCreate('@Url.Action("Create","Car",null,Context.Request.Scheme)', 'Dodaj samochód')" class="btn btn-success">
                    <i class="fas fa-random"></i>Dodaj samochód
                </a>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrRejestracji)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RokProdukcji)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StanGotowosci)
                </td>
                <td>
                    <a onclick="showInPopupCreate('@Url.Action("Update","Car",new {id=item.Id},Context.Request.Scheme)', 'Dodaj samochód')" class="btn btn-success">
                        <i class="fas fa-pencil"></i>Edytuj
                    </a>
                    <form asp-action="DeletePost" asp-route-id="@item.Id" onsubmit="JqueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>
@if (SignInManager.IsSignedIn(User)){

} else
            {

            }
